dataset_path = 'data/UCI/ailerons.ord'
train_num = 7750
test_num = 6000

num_classes = 5
num_input = 40

p_num = 3000
n_num = 3000
sn_num = 1000
u_num = 1000

pv_num = 500
nv_num = 500
snv_num = 100
uv_num = 1000

u_cut = 6500

pi = 0.53
rho = 0

positive_classes = [0, 1, 2]

neg_ps = [0, 0, 0, 1, 0]

non_pu_fraction = 0.5
balanced = False

sep_value = 0.5
adjust_p = True
adjust_sn = True

cls_training_epochs = 200
convex_epochs = 200

p_batch_size = 30
n_batch_size = 30
sn_batch_size = 100
u_batch_size = 100

learning_rate_cls = 1e-2
weight_decay = 1e-4
validation_momentum = 0

lr_decrease_epoch = 100
gamma = 0.1

non_negative = True
nn_threshold = 0
nn_rate = 1

settings.validation_interval = 50
