dataset_path = 'data/UCI/bank32nh.ord'
train_num = 4192
test_num = 4000

num_classes = 5
num_input = 32

p_num = 1000
n_num = 1000
sn_num = 60
u_num = 300

pv_num = 200
nv_num = 200
snv_num = 60
uv_num = 300

u_cut = 3000

pi = 0.40
rho = 0

positive_classes = [0, 1]

neg_ps = [0, 0, 1, 0, 0]

non_pu_fraction = 0.5
balanced = False

sep_value = 0.5
adjust_p = True
adjust_sn = True

cls_training_epochs = 100
convex_epochs = 100

p_batch_size = 10
n_batch_size = 10
sn_batch_size = 6
u_batch_size = 30

learning_rate_cls = 1e-2
weight_decay = 1e-4
validation_momentum = 0

lr_decrease_epoch = 10
gamma = 0.1

non_negative = True
nn_threshold = 0
nn_rate = 1

settings.validation_interval = 50
