dataset_path = 'data/UCI/cal_housing.ord'
train_num = 10640
test_num = 10000

num_classes = 5
num_input = 8

p_num = 3000
n_num = 3000
sn_num = 50
u_num = 500

pv_num = 300
nv_num = 300
snv_num = 50
uv_num = 500

u_cut = 8000

pi = 0.42
rho = 0.2

positive_classes = [3, 4]

neg_ps = [0, 0, 1, 0, 0]

non_pu_fraction = 0.5
balanced = False

sep_value = 0.5
adjust_p = True
adjust_sn = True

cls_training_epochs = 200
convex_epochs = 200

p_batch_size = 100
n_batch_size = 100
sn_batch_size = 25
u_batch_size = 250

learning_rate_cls = 1e-2
weight_decay = 1e-4
validation_momentum = 0

lr_decrease_epoch = 100
gamma = 0.1

non_negative = True
nn_threshold = 0
nn_rate = 1/3

settings.validation_interval = 1
