dataset_path = 'data/UCI/cal_housing.ord'
train_num = 10640
test_num = 10000

num_classes = 5
num_input = 8

p_num = 100
n_num = 100
sn_num = 100
u_num = 1000

pv_num = 100
nv_num = 100
snv_num = 100
uv_num = 1000

u_cut = 5000

pi = 0.42
rho = args.rho

positive_classes = [3, 4]

neg_ps = [0, 0, 1, 0, 0]

non_pu_fraction = args.gamma
balanced = False

u_per = args.u_per
adjust_p = args.adjust_p
adjust_sn = True

cls_training_epochs = 50
convex_epochs = 50

p_batch_size = 10
n_batch_size = 10
sn_batch_size = 10
u_batch_size = 100

learning_rate_cls = args.learning_rate
weight_decay = args.weight_decay
validation_momentum = 0

lr_decrease_epoch = 50
gamma = 1
start_validation_epoch = 0

non_negative = True
nn_threshold = 0
nn_rate = 1

settings.validation_interval = 10
