dataset_path = 'data/UCI/cpu_act.ord'
train_num = 4192
test_num = 4000

num_classes = 3
num_input = 21

p_num = 50
n_num = 50
sn_num = 50
u_num = 500

pv_num = 50
nv_num = 50
snv_num = 50
uv_num = 500

u_cut = 2192

pi = 0.47
rho = 0.3

positive_classes = [2]

neg_ps = [0, 1, 0]

non_pu_fraction = 0.5
balanced = False

sep_value = 0.5
adjust_p = True
adjust_sn = True

cls_training_epochs = 50
convex_epochs = 50

p_batch_size = 10
n_batch_size = 10
sn_batch_size = 10
u_batch_size = 50

learning_rate_cls = 1e-2
weight_decay = 1e-4
validation_momentum = 0

lr_decrease_epoch = 20
gamma = 0.1

non_negative = True
nn_threshold = 0
nn_rate = 1

settings.validation_interval = 5
