dataset_path = 'data/UCI/cpu_act.ord'
train_num = 4192
test_num = 4000

num_classes = 3
num_input = 21

p_num = 100
n_num = 100
sn_num = 100
u_num = 1000

pv_num = 100
nv_num = 100
snv_num = 100
uv_num = 1000

u_cut = 2192

pi = 0.47
rho = args.rho

positive_classes = [2]

neg_ps = [0, 1, 0]

non_pu_fraction = 0.5
balanced = False

sep_value = 0.5
adjust_p = True
adjust_sn = True

non_pu_fraction = args.gamma
balanced = False

u_per = args.u_per
adjust_p = args.adjust_p
adjust_sn = True

cls_training_epochs = 100
convex_epochs = 100

p_batch_size = 10
n_batch_size = 10
sn_batch_size = 10
u_batch_size = 100

learning_rate_cls = args.learning_rate
weight_decay = args.weight_decay
validation_momentum = 0

lr_decrease_epoch = 50
gamma = 1
start_validation_epoch = 0

non_negative = True
nn_threshold = 0
nn_rate = 1

settings.validation_interval = 10
