dataset_path = 'data/UCI/stock.ord'
train_num = 600
test_num = 350

num_classes = 5
num_input = 9

p_num = 100
n_num = 100
sn_num = 60
u_num = 300

pv_num = 100
nv_num = 100
snv_num = 60
uv_num = 300

u_cut = 300

pi = 0.59
rho = 0

positive_classes = [2, 3, 4]

neg_ps = [0, 1, 0, 0, 0]

non_pu_fraction = 0.5
balanced = False

sep_value = 0.5
adjust_p = True
adjust_sn = True

cls_training_epochs = 200
convex_epochs = 200

p_batch_size = 10
n_batch_size = 10
sn_batch_size = 6
u_batch_size = 30

learning_rate_cls = 1e-3
weight_decay = 1e-4
validation_momentum = 0

lr_decrease_epoch = 100
gamma = 0.1

non_negative = True
nn_threshold = 0
nn_rate = 1

settings.validation_interval = 10
